!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//Css
		link( rel="stylesheet", type="text/css", media="screen", href="assets/css/style.css")

		//Other Javascript
		script( src="http://code.jquery.com/jquery-1.9.1.min.js", type"text/javascript")
		script( src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js", type"text/javascript")
		script( src="assets/scripts/script.js", type"text/javascript")




		//RSS TODO

	body.home
		header
			h1 HCSS
			h2 Hyper Cascade Style Sheet
			.desc HCSS is not a new CSS language but a “Best-Practices” guide on how to write faster, smarter and more robust CSS.  Following this style you will be able to code 70% faster.
		nav
			.inner
				ol
					li(data-state="Active") 1. It's Hyper
					li 2. It's ordered
					li 3. It's reusable

		.content
			section
				header
					h3 It's Hyper
				article
					p We all code html like in the following example:
					h4 HTML CLassic structure
					pre
						code.prettyprint
							&#60a href='www.hcss.com' title='HCSS' rel='no_follow' class='css-class'&#62&#60/a&#62
						.correct
					
					p If someone were to code HTML like the following example, I’m sure we would say “you crazy man!”
					h4 HTML with CSS LIKE Structure
					pre
						code.prettyprint.
							&#60a
									href=”www.hcss.com”
									title=”HCSS”
									rel=”no_follow”
									class=”css-class”
							&#62
						.wrong
						


					p Nonetheless it’s normal for people to code CSS like this
					h4 Classical CSS
					pre
						code.prettyprint.
							main-content{
									width: 100px;
									height: 100px;
									margin: 0px 20px;
									color: black;
							}
						.wrong				
					
					p This approach give us abnormally long files were it’s very hard to find the class we were looking for without using the searcher or a ton of comments.
					p HCSS approach thinks about how HTML is writen and applys it to CSS. 
					h4 HCSS
					pre
						code.prettyprint.
							main-content{ width:100px; height:100px; margin:0px 20px; color:white; }
						.correct
					

					p Somethin very interesting happens when writting this way. Suddenly, we can use the same indentation style as in HTML, providing hierarchycal identation inside CSS.

					.img
						img(src="../assets/images/html-to-css.png", alt="Html Structure is replicated in CSS")
			
			section
				header
					h3 It's ordered
				article
					p
						| HCSS is thought as a coordiante system. First you look on the Y axis. By being indented as the HTMl is much easier to find anything. Once you are on the class your were looking for you need to look on the X axis. In order to make this step faster and easier, a strict order must be used. HCSS is basically ordere in three categories of properties: </br>
						| <strong>dimensions/structural/positioning</strong> - <strong>background and font style</strong> - <strong>the rest</strong>

					code.
						Widht - Height / Display / Position / left, right, top, bottom / float / margins / paddings / background / color / text types / CSS3 features (text-shadow/ border radius / box-shadow) / opacity / overflow / z-index

				
