//Tech Meta
meta( http-equiv="Content-Type", content="text/html; charset=utf-8" )
meta( http-equiv="X-UA-Compatible", content="IE=7")
meta( name="viewport", content="width=device-width, initial-scale=1.0")

//Basic Meta
title HCSS
meta( name="description", content="HCSS Description here")
meta( name="keywords", content="Keyword1, keyword 2")
	
//Facebook Meta
meta( property="og:title", 		content="HCSS" )
meta( property="og:site_name", 	content="HCSS" )
meta( property="og:description", content="HCSS Description here" )
meta( property="og:image", content="http://websiteAppURL.com/fb-img.jpg" )
meta( property="og:url", content="http://websiteAppURL.com" )
meta( property="og:type", content="website" )
	